body{
    background: #FBC5C5;
    margin-left: 130px;
    margin-right: 200x;
}
h1{
    color: red;
    font-family: fantasy;
}
h2{
    font-family: fantasy;
}
p{
    font-size: 18px;
}

footer{
      margin-bottom:30px;
}
.img_padrao{
    margin-bottom: 20px;
    width: 300px;
}
.logo{
    width: 30px;
}
